h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: $dark-1;
    line-height: 5.8rem;

    @include sm {
        font-size: 9.6rem;
        line-height: 11.6rem;
    }
}

h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
    color: $dark-1;
}

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pink;
}

h4 {
    font-weight: 400;
    font-size: 2rem;
    color: $dark-2;
}

h5 {
    font-weight: 700;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.9rem;
    color: $dark-2;
    margin-bottom: 2.8rem;
}