h1 {
    font-size: 4.8rem;
    font-weight: 900;
    color: $dark-1;
    line-height: 5.8rem;
}

h2 {
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.8rem;
    color: $dark-1;
}

h3 {
    font-weight: 700;
    font-size: 1.6re,;
    line-height: 1.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $pink;
}