.main {
    padding: 3.2rem;
}

.hero {
    width: 75%;

    &--heading {
        margin-top: 2.4rem;
    }

    &--copy {
        @extend .hero--heading;
    }

    &--graphic {
        height: 42rem;
        width: auto;
        position: absolute;
        top: 4rem;
        left: 21rem;
        z-index: -1;
    }
}