// Font
$font-main: 'Inter', sans-serif;

// Colours
$dark-1: #111111;
$dark-2: #555555;
$dark-3: #777777;
$dark-4: #999999;
$light-1: #FFFFFF;
$light-2: #EEEEEE;
$light-3: #CCCCCC;
$orange: #FF8139;
$pink: #FF3998;
$green: #39FFA0;
$red: #FF3939;
$light-green: #EDFFF6;
$light-orange: #FFF0E8;